<!DOCTYPE html>
<mat-toolbar>
    <mat-toolbar-row class="barra-de-ferramenta-do-topo">
        <span>AgendaLive<mat-icon>date_range</mat-icon></span>
        <span class="example-spacer"></span>
        <button mat-raised-button 
                #tooltip="matTooltip" 
                matTooltip="Adicionar uma live."
                matTooltipPosition="left"
                matToolTipShowDelay=1000
                matTooltipHideDelay=1000
                ><mat-icon>add</mat-icon>Live</button>
    </mat-toolbar-row>
</mat-toolbar>
<app-live-list></app-live-list>
  