<mat-tab-group class="area-de-videos">
    <mat-tab label="PRÓXIMAS">
        <div fxLayout="row" fxLayoutAlign="start center" style="padding: 2%;">
            <div style="margin: 0.5%;">
                <mat-card class="example-card"
                fx-flex="0 1 calc(33.3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px)"
                fxHide.lt-sm="100%"
                >
                    <mat-card-header>
                    </mat-card-header>
                    <mat-card-content>
                        <p>texto livre</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Realizadas">Content 2</mat-tab>
</mat-tab-group>